from enum import Enum

class {{ name }}(str, Enum):
    {% for enumItem in enum %}

    {% if enumItem.key is string %}
    {{ enumItem.key.upper() }} = '{{ enumItem.value }}'{% else %}
    value_{{ enumItem.key.upper() }} = {{ enumItem.value }}{% endif %}
    {% endfor %}
