from enum import Enum

class {{ name }}(str, Enum):
    {% for enumItem in enum %}

    {% if enumItem is string %}
    {{ enumItem.upper() }} = '{{ enumItem }}'{% else %}
    value_{{ enumItem }} = {{ enumItem }}{% endif %}
    {% endfor %}
