from enum import Enum

class {{ name }}(str, Enum):
    {% for enumItemIdent, enumItem in enum %}

    {% if enumItem is string %}
    {{ enumItemIdent }} = '{{ enumItem }}'
    {% else %}
    {{ enumItemIdent }} = {{ enumItem }}
    {% endif %}
    {% endfor %}
