from typing import *
from pydantic import BaseModel, RootModel, Field
{% for property in properties %}
{% if property.type.import_types is not none %}
{% for import_type in property.type.import_types %}
{{ import_type }}
{% endfor %}
{% endif %}
{% endfor %}
{% if import_types is not none %}
{% for import_type in import_types %}
{{ import_type }}
{% endfor %}
{% endif %}

class {{ schema_name }}({{ 'BaseModel' if not root_type else 'RootModel' }}):
    """
    {{ schema.title }} model
    {% if schema.description != None %}
    
    {{ schema.description }}
    {% endif %}
    """
    {% if root_type %}
    
    root : {{ root_type }}
    {% endif %}

    {% for property in properties %}

    {{ property.name | replace("@","") | replace("-","_") }} : {{ property.type.converted_type | safe }} = Field(alias="{{ property.name }}" {% if not property.required %}, default = {{ property.default }} {% endif %})
    {% endfor %}
