from typing import *
from uuid4 import uuid4
from structlog.stdlib import BoundLogger
import {{ library_import }}
{% if use_orjson %}
import orjson
{% endif %}

from ..models import *
from ..api_config import APIConfig, HTTPException

class {{class_name}}:
    def __init__(self, config: APIConfig, logger:BoundLogger):
        self.config = config
        self.logger = logger

    def set_interaction_id(self, x_interaction_id: str = None) -> str:
        return x_interaction_id if x_interaction_id else str(uuid4())

{% filter indent(width=4) %}
    {{ content | safe}}
{% endfilter %}
