from typing import *
import {{ library_import }}
import json
{% if use_orjson %}
import orjson
{% endif %}

from ..models import *
from ..api_config import APIConfig, HTTPException

{{ content | safe}}
